# Dependencies
node_modules/

# Builds
dist/
coverage/

# Environment variables
.env
.env.*
!.env.example
!.env.docker.example

# Logs
*.log

# Editors
.vscode/
.idea/

# Docker local environment
.env.docker